@import url('./header/header.css');
@import url('./lesson1/lesson1.css');
@import url('./menu/menu.css');
@import url('./contacts/contacts.css');
@import url('./lesson5/lesson5.css');
@import url('./media/media.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

