%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.contacts__link {
    position: relative;
    @extend %flex-center;
    font-size: 50px;
    color: aliceblue;
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 10px  60px 60px 60px;
    i {
        position: absolute;
        z-index: 1;
        
    }
}

.contacts__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: green;
    border-radius: 10px  60px 60px 60px;
    transition: .5s all;
}

.telegram:hover::after {
    color: blue;
    background-color: black;
}
.telegram:hover i {
    color: aliceblue;
    background: #000;
}
.telegram:active::after {
    color: blue;
    background-color: black;
}
.telegram:active i {
    color: aliceblue;
    background: #000;
}

.telegram {
    color: aliceblue;
    transition: .5s all;
    background: blue;
    i {
        background-color: blue;
        border-radius: 50%;
        transition: .5s all;
    }
}

.instagram {
    background: linear-gradient(rgb(26, 3, 3), rgb(74, 3, 3));
    transition: .5s ease all;
}

.instagram:hover::after {
     background: #000;
    //  color: rgb(74, 3, 3);
}
.instagram:active::after {
     background: #000;
    //  color: rgb(74, 3, 3);
}

.github {
    transition: .5s ease all;
}

.github:hover::after {
    background-color: aliceblue;
}

.github:hover i {
    color: #000;
}
.github:active::after {
    background-color: aliceblue;
}

.github:active i {
    color: #000;
}

