%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.header__text {
    margin: 10px;
    max-width: 500px;
    padding: 20px;
    background-color: rgb(80, 77, 77);
    border-radius: 10px;
    @extend %flex-column;
    align-items: start;
    gap: 10px;
    margin-bottom: 50px;
    color: aliceblue;
}

.back {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 20px;
    color: aliceblue;
    padding: 15px 25px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 10px red;
    transition:  .5s ease all;
    span {
        font-size: 25px;
    }
}

.back:active {
    transform: translateY(1px);
    background-color: blue;
    box-shadow: 0 0 10px blue;
} 

.back:hover {
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

.header__text-title {
    color: green;
    font-size: 24px;
}

.header__text-title2 {
    color: yellowgreen;
    font-size: 20px;
}

.header__text-title3 {
    color: black;
}

.header__text-img {
    width: 100%;
    img {
        width: 100%;
    }
}